/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

::selection{
  color: #fff;
  background: #11101d;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #BF5B04;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 240px
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 45px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo img{
  width: 35px;
  height: 25px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #ebe3d956;
  padding-left: 50px;
  font-size: 18px;
  color: #ffffff;
}
.sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 20px;
  transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #030000;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}
.sidebar ul li i{
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar ul li img{
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
.sidebar .links_name{
  font-size: 13px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}
.sidebar .profile_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile{
  position: relative;
  padding: 10px 6px;
  height: 50px;
  background: none;
  transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
  background: #7a3303;
}
.profile_content .profile .profile_details{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar.active ~ .profile .profile_details{
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job{
  margin-left: 10px;
}
.profile .profile_details .name{
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job{
  font-size: 12px;
}
.profile #log_out{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 45px;
  line-height: 45px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #7a3303;
}
.sidebar.active .profile #log_out{
  left: 88%;
}
.sidebar.active .profile #log_out{
  background: none
}
.home_content{
  padding-left: 5%;
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: #f2f2f2;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2px);
  transition: all 0.5s ease;
  display: flex;
}
.sidebar.active ~ .home_content{
  z-index: 100;
}
.home_content .text{
  font-size: 20px;
  font-weight: 500;
  color: #864104;
  
  padding: 1%;
}
.sidebar.active ~ .home_content{
  width: calc(100% - 240px);
  left: 240px;

}
.home_content_2{
  width: 65%;
  height: 100%;
  
}
.container-welcome{
    
    display: flex;
    width: 90%;
    height: 120px;
    border-radius: 5px;
    background-color: white;
}
.container-welcome h3{
    font-size: 4vh;
    width: 50%;
    margin: auto 5%;
    color: #BF5B04;
}
.container-welcome > img{
    width: 50%;
    height: 115px;
}

/*----*/
main{
    width: 90%;
    padding: 7px;
    
    height: 370px;
    
}



.box-cuentas{
    width: 100%;
    
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.box-wrap{
  width: 27%;
    height: 80px;
    
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.box-cuenta{
  width: 100%;
  height: 100%;
  
  background:white;
  
  border:1px solid #d6d6d6;
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all; 
}
.box-wrap:hover .box-cuenta{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.box-wrap:hover .box-cuenta:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}




.box-cuenta:hover > p{
   color: #d38609; 
   text-shadow: 0px 0.5px 0px rgb(102, 102, 102);
}
.box-cuenta > h3{
    margin-top: 10%;
    font-size: 2vh;
    color: #696868;
    background-color: transparent;
  
}
.box-cuenta > p{
    font-size: 4vh;
    
    font-weight: bolder;
    background-color: transparent;
}

.box-opciones{
    width: 100%;
    padding-top: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.box-opciones > h3{
    margin-left: 5%;
    font-size: 3vh;
    color: #464545;
}
.box-opciones > button{
    width: 20%;
    margin-right: 5%;
    border: none;
    cursor: pointer;
    color: #f2f2f2;
}

.box-larges{
width: 100%;
height: 700px;
display: inline-block;

}
.box-large{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 90%;
    height: 50px;
    background-color: white;
    margin-top: 2.5%;
    border-radius: 5px;
    cursor: pointer;
}
.box-large:hover{
    box-shadow:0px 0px 4px 0px rgba(50, 50, 50, 0.75);    

}
.box-large > h2, .box-large > p{
    background-color: transparent;
    margin-left: 2%;
}
.box-large > h2{
    font-size: 3vh;
    padding-top: 8px;
    color: #464545;
}
.box-large > p{
    font-size: 2vh;
    color: #727176;
}

.home-der{
    width: 35%;
    height: 100%;
    border-left: 1px solid #8a4306;
    border-radius: 2px;

}
.header-section{
  
    width: 100%;
    height: 55px;
    display: flex;
     
}
.header-section-block{
    width: 80%;
    height: 55px;
    
    text-align: center;
    display: inline-block;
    background-color: #BF5B04;
}
.header-section-block >h4{
    background-color: transparent;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 2vh;
    
}
.header-section-block > p{
    background-color: transparent;
    color: white;
    font-size: 3vh;
    font-weight: bolder;
    

}
.header-section > span{
    width: 20%;
    height: 100%;
    
    background-color: #fff5ecc5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #BF5B04;
    
    
}
.header-section > span > img{
  width: 50%;
  height: 50%;
  
}
.box-transactions{
    width: 100%;
    height: 87%;
    
    position: relative;
    padding: 7px;
    
}
.box-transactions > h5{
    font-size: 3vh;
    color: #464545;
    padding: 3px;
    
}
.box-transactions > table{
  width: 100%;
  min-height: 20%;
  max-height: 90%;
  
}
table >tbody> tr > th{
    text-align: start;
    color: #464545;
    font-size: 2vh;
    border-bottom: 1px solid rgba(158, 155, 155, 0.651);
    padding-bottom: 1%;
    
}
table >tbody> tr > td{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    
    padding-top: 2%;
    
    font-weight: bold;
    cursor: pointer;

    
}
table >tbody> tr > td >span:first-child{
    color: #94938f; 
    font-size: 1.7vh;  
    width: 15%;
}
table >tbody> tr > td >span:nth-child(2){
    color: #66645f; 
    font-size: 1.7vh;  
    width: 15%;
}
table >tbody> tr > td >span:nth-child(3){
    color: #66645f;
    font-size: 2vh;
    width: 50%;  
}
table >tbody> tr > td>span:last-child{
    color: #ccab34;
    font-size: 2vh;
    width: 20%;
}


.buttonSeeMore{
    width: 100%;
    position: absolute;
    bottom: 0%;
    
    display: flex;
    justify-content: center;
    
   
}
.buttonSeeMore > button{
    border: none;
    width: 40%;
    cursor: pointer;
    color: #7a7a7a;
}

