/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

::selection{
  color: #fff;
  background: #11101d;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #BF5B04;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 200px
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 45px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo img{
  width: 35px;
  height: 25px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  font-size: 15px;
  font-weight: 400;
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #ebe3d956;
  padding-left: 50px;
  font-size: 13px;
  color: #ffffff;
}
.sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 15px;
  transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #030000;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}
.sidebar ul li i{
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar ul li img{
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
.sidebar .links_name{
  font-size: 11px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}
.sidebar .profile_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile{
  position: relative;
  padding: 10px 6px;
  height: 50px;
  background: none;
  transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
  background: #7a3303;
}
.profile_content .profile .profile_details{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar.active ~ .profile .profile_details{
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job{
  margin-left: 10px;
}
.profile .profile_details .name{
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job{
  font-size: 12px;
}
.profile #log_out{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 45px;
  line-height: 45px;
  font-size: 17px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #7a3303;
}
.sidebar.active .profile #log_out{
  left: 88%;
}
.sidebar.active .profile #log_out{
  background: none
}
.home_content{
  padding-left: 5%;
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: #f2f2f2;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2px);
  transition: all 0.5s ease;
  display: flex;
}
.sidebar.active ~ .home_content{
  z-index: 100;
}
.home_content .text{
  font-size: 20px;
  font-weight: 500;
  color: #2f0d61;
  
  padding: 1%;
}
.sidebar.active ~ .home_content{
  width: calc(100% - 200px);
  left: 200px;

}
.home_content_2{
  width: 100%;
  height: 100%;
  
}
.container-welcome{
  border: 3px solid rgb(231, 230, 230);

    display: flex;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    background-color: white;
}
.container-welcome h3{
    font-size: 4vh;
    width: 80%;
    margin: auto 5%;
    color: #411189;
}
.container-welcome > img{
    width: 16%;
    height: 90px;
}
.separator{
    width: 70%;
    margin-left: 10%;
    display: flex;
    height: 80px;
    border-radius: 5px;
    margin-top: 3%;
    background: hsl(0, 0%, 100%);
    border: 3px solid rgb(231, 230, 230);

}

/*----FILTRO CARD---*/

.container {
  
    align-items: center;
    background: hsl(0, 0%, 100%);
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 360px;
    
  }
  .bar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    left: 0;
    padding: 0 21px;
    position: absolute;
    width: 100%;
  }
  .bar2 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 32px;
    left: 0;
    padding: 0 21px;
    position: absolute;
    width: 100%;
  }
  .bar-purple {
    background: #6000ea;
    color: white;
    clip-path: polygon(
      360px 0,
      360px 32px,
      43px 32px,
      39.775442px 31.67494px,
      36.772078px 30.74264px,
      34.054248px 29.26745px,
      31.686292px 27.31371px,
      29.732549px 24.94575px,
      28.257359px 22.22792px,
      27.325063px 19.22456px,
      27px 16px,
      27.325063px 12.77544px,
      28.257359px 9.77208px,
      29.732549px 7.05425px,
      31.686292px 4.68629px,
      34.054248px 2.73255px,
      36.772078px 1.25736px,
      39.775442px 0.32506px,
      43px 0
    );
    transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .option {
    cursor: pointer;
    line-height: 142px;
    text-align: center;
    width: 41%;
  }
  .option2 {
    cursor: pointer;
    line-height: 142px;
    text-align: center;
    width: 30%;
    margin-left: 15px;
  }
  .bar-outer {
    clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
    clip-path: polygon(
      0 0,
      0 32px,
      104px 32px,
      107.22456px 31.67494px,
      110.22792px 30.74264px,
      112.94575px 29.26745px,
      115.31371px 27.31371px,
      117.26745px 24.94575px,
      118.74264px 22.22792px,
      119.67494px 19.22456px,
      120px 16px,
      119.67494px 12.77544px,
      118.74264px 9.77208px,
      117.26745px 7.05425px,
      115.31371px 4.68629px,
      112.94575px 2.73255px,
      110.22792px 1.25736px,
      107.22456px 0.32506px,
      104px 0
    );
    height: 32px;
    pointer-events: none;
    transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
  }
  .bar-outer.pos2 .bar-purple {
    clip-path: polygon(
      360px 0,
      360px 32px,
      149px 32px,
      145.775442px 31.67494px,
      142.772078px 30.74264px,
      140.054248px 29.26745px,
      137.686292px 27.31371px,
      135.732549px 24.94575px,
      134.257359px 22.22792px,
      133.325063px 19.22456px,
      133px 16px,
      133.325063px 12.77544px,
      134.257359px 9.77208px,
      135.732549px 7.05425px,
      137.686292px 4.68629px,
      140.054248px 2.73255px,
      142.772078px 1.25736px,
      145.775442px 0.32506px,
      149px 0
    );
  }
  .bar-outer.pos2 {
    clip-path: polygon(
      0 0,
      0 32px,
      210px 32px,
      213.22456px 31.67494px,
      216.22792px 30.74264px,
      218.94575px 29.26745px,
      221.31371px 27.31371px,
      223.26745px 24.94575px,
      224.74264px 22.22792px,
      225.67494px 19.22456px,
      226px 16px,
      225.67494px 12.77544px,
      224.74264px 9.77208px,
      223.26745px 7.05425px,
      221.31371px 4.68629px,
      218.94575px 2.73255px,
      216.22792px 1.25736px,
      213.22456px 0.32506px,
      210px 0
    );
  }
  .bar-outer.pos3 .bar-purple {
    clip-path: polygon(
      360px 0,
      360px 32px,
      256px 32px,
      252.775442px 31.67494px,
      249.772078px 30.74264px,
      247.054248px 29.26745px,
      244.686292px 27.31371px,
      242.732549px 24.94575px,
      241.257359px 22.22792px,
      240.325063px 19.22456px,
      240px 16px,
      240.325063px 12.77544px,
      241.257359px 9.77208px,
      242.732549px 7.05425px,
      244.686292px 4.68629px,
      247.054248px 2.73255px,
      249.772078px 1.25736px,
      252.775442px 0.32506px,
      256px 0
    );
  }
  .bar-outer.pos3 {
    clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
    clip-path: polygon(
      0 0,
      0 32px,
      317px 32px,
      320.22456px 31.67494px,
      323.22792px 30.74264px,
      325.94575px 29.26745px,
      328.31371px 27.31371px,
      330.26745px 24.94575px,
      331.74264px 22.22792px,
      332.67494px 19.22456px,
      333px 16px,
      332.67494px 12.77544px,
      331.74264px 9.77208px,
      330.26745px 7.05425px,
      328.31371px 4.68629px,
      325.94575px 2.73255px,
      323.22792px 1.25736px,
      320.22456px 0.32506px,
      317px 0
    );
  }
  .bar-outer.left .bar-purple {
    transition-delay: 0;
  }
  .bar-outer.left {
    transition-delay: 80ms;
  }
  .bar-outer.right .bar-purple {
    transition-delay: 80ms;
  }
  .bar-outer.right {
    transition-delay: 0;
  }

  .bar-outer2 {
    clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
    clip-path: polygon(
      0 0,
      0 32px,
      104px 32px,
      107.22456px 31.67494px,
      110.22792px 30.74264px,
      112.94575px 29.26745px,
      115.31371px 27.31371px,
      117.26745px 24.94575px,
      118.74264px 22.22792px,
      119.67494px 19.22456px,
      120px 16px,
      119.67494px 12.77544px,
      118.74264px 9.77208px,
      117.26745px 7.05425px,
      115.31371px 4.68629px,
      112.94575px 2.73255px,
      110.22792px 1.25736px,
      107.22456px 0.32506px,
      104px 0
    );
    height: 32px;
    pointer-events: none;
    transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
  }
  .bar-outer2.pos2 .bar-purple {
    clip-path: polygon(
      360px 0,
      360px 32px,
      149px 32px,
      145.775442px 31.67494px,
      142.772078px 30.74264px,
      140.054248px 29.26745px,
      137.686292px 27.31371px,
      135.732549px 24.94575px,
      134.257359px 22.22792px,
      133.325063px 19.22456px,
      133px 16px,
      133.325063px 12.77544px,
      134.257359px 9.77208px,
      135.732549px 7.05425px,
      137.686292px 4.68629px,
      140.054248px 2.73255px,
      142.772078px 1.25736px,
      145.775442px 0.32506px,
      149px 0
    );
  }
  .bar-outer2.pos2 {
    clip-path: polygon(
      0 0,
      0 32px,
      210px 32px,
      213.22456px 31.67494px,
      216.22792px 30.74264px,
      218.94575px 29.26745px,
      221.31371px 27.31371px,
      223.26745px 24.94575px,
      224.74264px 22.22792px,
      225.67494px 19.22456px,
      226px 16px,
      225.67494px 12.77544px,
      224.74264px 9.77208px,
      223.26745px 7.05425px,
      221.31371px 4.68629px,
      218.94575px 2.73255px,
      216.22792px 1.25736px,
      213.22456px 0.32506px,
      210px 0
    );
  }
  .bar-outer2.pos3 .bar-purple {
    clip-path: polygon(
      360px 0,
      360px 32px,
      256px 32px,
      252.775442px 31.67494px,
      249.772078px 30.74264px,
      247.054248px 29.26745px,
      244.686292px 27.31371px,
      242.732549px 24.94575px,
      241.257359px 22.22792px,
      240.325063px 19.22456px,
      240px 16px,
      240.325063px 12.77544px,
      241.257359px 9.77208px,
      242.732549px 7.05425px,
      244.686292px 4.68629px,
      247.054248px 2.73255px,
      249.772078px 1.25736px,
      252.775442px 0.32506px,
      256px 0
    );
  }
  .bar-outer2.pos3 {
    clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
    clip-path: polygon(
      0 0,
      0 32px,
      317px 32px,
      320.22456px 31.67494px,
      323.22792px 30.74264px,
      325.94575px 29.26745px,
      328.31371px 27.31371px,
      330.26745px 24.94575px,
      331.74264px 22.22792px,
      332.67494px 19.22456px,
      333px 16px,
      332.67494px 12.77544px,
      331.74264px 9.77208px,
      330.26745px 7.05425px,
      328.31371px 4.68629px,
      325.94575px 2.73255px,
      323.22792px 1.25736px,
      320.22456px 0.32506px,
      317px 0
    );
  }
  .bar-outer2.left .bar-purple {
    transition-delay: 0;
  }
  .bar-outer2.left {
    transition-delay: 80ms;
  }
  .bar-outer2.right .bar-purple {
    transition-delay: 80ms;
  }
  .bar-outer2.right {
    transition-delay: 0;
  }


/*--card-----*/
.box-cards{
  width: 60%;
  margin-left: 10%;
  height: 400px;
  background: linear-gradient(to top left, #5E66F2 50%, #e6e4e4 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  
}

.card__part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url('imagenes/card2.jpg'); /*linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 18px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
