*{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
  overflow-y: hidden;
}

.load{
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  width: 100%;
}
.bg1{
    width: 100%;
    height: 80%;
    display: inline-block;
    transition: 0.2s;
    overflow: hidden;
}

.slider{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    
}
.row{
    display: flex;
    width: 100%;
    height: 100%;
}
#login:target{
    
    -webkit-animation: slide-top 1s ease-out both;
    animation: slide-top 1s ease-out both;
    
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  /*
@keyframes slide {
    0%{top:0;left: 0;}
    45%{top: -100%;left: 0;}
    50%{top: -100%;left: 0;}
    95%{top: -100%;left: 0;}
    100%{top: -100;left: 0;}
}*/

aside{
    display: inline-block;
    width: 30%;
    height: 100%;
    background: rgb(242,192,59);
    background: linear-gradient(180deg, rgba(242,192,59,1) 11%, rgba(238,185,43,1) 50%, rgba(236,181,29,1) 92%);
}
aside img{
  width: 80px;
  height: 60px;
  margin-top: 40%;
  margin-left: 37%;
}
aside > h2{
    padding-right: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
    color: #803e04;
    margin-top: 5%;
}
.btn1{
    margin-top: 10%;
    margin-left: 29%;
    padding: 0.7em 2em;
    background-color: #EDB928;
    
    outline: none;
    border: none;
    
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}/*#CD7801 #FDC339 #E7AC10 #F25F29*/


.btn1::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: #964804;
    width: 100%;
    height: 5px;
    z-index: 0;
    transition: 0.3s;
}

.btnlog{
    text-decoration: none !important;
    z-index: 2;
    color: #803e04 !important;
    font-size: 2em;
}
/*
.btn2:hover:before{
    width: 30%;
}*/
img{
    width: 70%;
    height: 100%;
}
.btn2:before{
    width: 0;
}
.btn2:hover:before{
    width: 100%;
}/*
.btn2::before{
    left: -100%;
    transform: none;
}
.btn2:hover:before{
    left: 0;
}*/

#log-in{
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #000000;
  background: rgb(228,230,255);
  background: linear-gradient(180deg, rgba(228,230,255,1) 0%, rgba(228,230,255,1) 34%, rgba(224,225,255,1) 53%, rgba(208,206,255,1) 61%, rgba(184,180,254,1) 99%);
	overflow-x: hidden;
  justify-content:space-evenly;
}



a {
    cursor: pointer;
    transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #2f2e31;
  text-decoration: none;
}
.link:hover {
  color: #000000;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  margin-left: 26%;
}
h4 {
  font-weight: 600;
  font-size: 4vh;
}
h6{
    margin-left: 30%;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 2.5vh;
  font-weight: 700;
  color: #4D3BBF;
}

.section{
  
  position: relative;
  margin-top: 3%;
  display: block;
}
.full-height{
  width: 40%;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
#logologin{
 
  width: 55%;
  height: 95%;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 40px;
  height: 8px;
  border-radius: 8px;
  padding: 0;
  margin: 8px auto;
  cursor: pointer;
  background-color: #8B77EA;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 22px;
  height: 23px;
  border-radius: 50%;
  color: #a89b71;
  background-color: #000000;
  font-family: 'unicons';
  content: url("");
  z-index: 20;
  top: -8px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 450px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 5%;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 80%;
  background: rgb(77,59,191);
background: linear-gradient(165deg, rgba(77,59,191,1) 36%, rgba(139,119,234,1) 63%);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 48%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 30px;
  height: 48px;
  width: 72%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #000000;
  background-color: #fffdf9;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #18181a;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #1f1f20;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn{  
    margin-top: 3%;
  margin-left: 27%;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  text-decoration: none;
  background-color: #ffffff;
  color: #1b1305;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
  background-color: #020007cb;
  color: #fffefd;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #02000cdc;
  color: #f8f7f1;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.mt-5{
    margin-left: 30%;
}






