/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

::selection{
  color: #fff;
  background: #11101d;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #BF5B04;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 200px
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 45px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo img{
  width: 35px;
  height: 25px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  font-size: 15px;
  font-weight: 400;
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #ebe3d956;
  padding-left: 50px;
  font-size: 13px;
  color: #ffffff;
}
.sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 15px;
  transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #030000;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}
.sidebar ul li i{
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar ul li img{
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
.sidebar .links_name{
  font-size: 11px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}
.sidebar .profile_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile{
  position: relative;
  padding: 10px 6px;
  height: 50px;
  background: none;
  transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
  background: #7a3303;
}
.profile_content .profile .profile_details{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar.active ~ .profile .profile_details{
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job{
  margin-left: 10px;
}
.profile .profile_details .name{
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job{
  font-size: 12px;
}
.profile #log_out{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 45px;
  line-height: 45px;
  font-size: 17px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #7a3303;
}
.sidebar.active .profile #log_out{
  left: 88%;
}
.sidebar.active .profile #log_out{
  background: none
}
.home_content{
  padding-left: 5%;
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: #f2f2f2;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2px);
  transition: all 0.5s ease;
  display: flex;
}
.sidebar.active ~ .home_content{
  z-index: 100;
}
.home_content .text{
  font-size: 20px;
  font-weight: 500;
  color: #7a5636;
  
  padding: 1%;
}
.sidebar.active ~ .home_content{
  width: calc(100% - 200px);
  left: 200px;

}
.home_content_2{
  width: 100%;
  height: 100%;
  
}
.container-welcome{
    
    display: flex;
    width: 88%;
    height: 100px;
    border-radius: 5px;
    background-color: white;
}
.container-welcome h3{
    font-size: 4vh;
    width: 65%;
    margin: auto 5%;
    color: #F28705;
}
.container-welcome > img{
    width: 25%;
    height: 95px;
}

/*----*/

.container-info-mult{
    width: 90%;
    margin-top: 2%;
    display: flex;
    height: 450px;
}
.encabezado{
    width: 70%;
    height: 50%;
    display: inline-block;
}
.encabezado > h3{
    padding: 10px;
    font-size: 2.5vh;
    color: #F28705;
    width: 100%;
    min-height: 10%;
    border-bottom: 3px solid rgb(231, 230, 230);
    background-color: rgb(255, 255, 255);
}
.box-loan{
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: white;
border-bottom: 3px solid rgb(231, 230, 230);
}
.box-loan img{
    width: 25px;
    height: 25px;
    
}
.box-one{
width: 50%;
display: block;
padding: 5px;
border-left: 2px solid rgb(231, 230, 230);
}
.box-one h2{
    font-size: 2.5vh;
    color: #494746;

}
.box-one p{
    color: #232425;
    font-size: 0.6em;
}
.box-two{
width: 20%;
padding: 10px;
display: block;
align-self:stretch;
position: relative;
}
.box-two h4{
    
    font-size: 1.5vh;
    color: rgb(78, 78, 78);
}
.box-two h4:last-child{
    font-size: 2vh;
    top: 15%;
    width: 80%;
    text-align: center;
    position: relative;
    
}
.box-group{
    width: 30%;
    margin-left: 5%;
    display: block;
}
.box-ind{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    color: #1F3473;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    border: 3px solid rgb(231, 230, 230);

}
.box-ind:hover{
  border: 4px solid rgb(231, 230, 230);

}
.box-sub{
    margin-top: 5%;
    width: 90%;
    height: 40%;
    text-align: center;
    font-size: 1.7vh;
    color: #1F3473;
    border-radius: 2px;
    border: 3px solid rgb(231, 230, 230);
background-color: #E3EEF8;
}
.box-sub h2{
  padding: 5px;
}
.box-sub img{
    margin-top: 5%;
    width: 100%;
    height: 50%;
}