*{
  background-color: #f2f2f2;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  width: 100%;
  
  
  
}
#app{
    display: flex;
    width: 100%;
}
aside{
    width: 10%;
    display: inline-block;
    background-color: white;
    margin-left: 0;
    padding-top: 10%;
    
   
}
aside > p{
    background-color: white;
    margin-top: 40%;
    color: #FFCA00;
    text-align: center;
}
main{
    width: 65%;
    margin-left: 7%;
}
main > h2{
    width: 100%;
    font-size: 4vh;
    padding-bottom: 3%;
    padding-top: 2%;
}
.slider{
    width: 90%;
    
    height: 100px;
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 5px;
}

.slider > h3{
    background-color: white;
    width: 50%;
    text-align: center;
    font-size: 4vh;
    color: #FFCA00;
}
#slider-logo{
    width: 50%;
    height: 100px;
}

.container-cajitas{
    width: 90%;
    height: 100px;
    display: flex;
    margin-top: 3%;
}
.cajitas{
    width: 27%;
    height: 80px;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.cajitas:hover{
    background-color: #F2B705;
    
    box-shadow:0px 0px 4px 0px rgba(50, 50, 50, 0.75);
}
.cajitas:hover > p{
   color: white; 
   text-shadow: 0px 1px 1px black;
}
.cajitas > h3{
    margin-top: 10%;
    font-size: 2vh;
    color: #696868;
    background-color: transparent;
  
}
.cajitas > p{
    font-size: 4vh;
    font-weight: bolder;
    background-color: transparent;
}

main > section{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

}
main > section > h3{
    font-size: 3vh;
    color: #464545;
}
main>section> button{
    width: 20%;
    margin-right: 5%;
    border: none;
    cursor: pointer;
    color: #7a7a7a;
}

.container-box-large{
width: 90%;
display: inline-block;
}
.box-large{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 2%;
    border-radius: 5px;
    cursor: pointer;
}
.box-large:hover{
    box-shadow:0px 0px 4px 0px rgba(50, 50, 50, 0.75);    

}
.box-large > h2, .box-large > p{
    background-color: transparent;
    margin-left: 2%;
}
.box-large > h2{
    font-size: 3vh;
    padding-top: 8px;
    color: #464545;
}
.box-large > p{
    font-size: 2vh;
    color: #727176;
}

.section{
    width: 25%;

    
    
}
.header-section{
    width: 100%;
    height: 60px;
    display: flex;
     
}
.header-section-block{
    width: 75%;
    height: 60px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    background-color: #0D0D0D;
}
.header-section-block >h4{
    background-color: transparent;
    color: white;
    font-weight: bolder;
    margin-top: 13px;
    font-size: 2vh;
    
}
.header-section-block > p{
    background-color: transparent;
    color: white;
    font-size: 3vh;
    font-weight: bolder;
    

}
.header-section > span{
    width: 25%;
    height: 100%;
    background-color: #FEC806;
}
.container-transactions{
    width: 95%;
    margin-top: 10%;
    margin-left: 1%;
}
.container-transactions > h5{
    font-size: 3vh;
    color: #464545;
    height: 50px;
    
}

table >tbody> tr > th{
    text-align: start;
    color: #464545;
    border-bottom: 1px solid rgba(158, 155, 155, 0.651);
    padding-bottom: 1%;
    
}
table >tbody> tr > td{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    
    font-weight: bold;
    cursor: pointer;
    font-size: 2vh;
    
}
table >tbody> tr > td >span:first-child{
    color: #94938f; 
    font-size: 1.5vh;  
}
table >tbody> tr > td >span:nth-child(2){
    color: #66645f; 
    font-size: 1.5vh;  
}
table >tbody> tr > td >span:nth-child(3){
    color: #66645f;
    font-size: 1.5vh;  
}
table >tbody> tr > td>span:last-child{
    color: #ccab34;
}


.buttonSeeMore{
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.buttonSeeMore > button{
    border: none;
    padding-top: 5%;
    width: 40%;
    cursor: pointer;
    color: #7a7a7a;
}


