<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="styleAccount.css">
</head>
<body>
    <div id="app">
    
    <aside>
        <p>Accounts</p>
        <p @click="setLoansBool">Loans</p>
        <p>Cards</p>
        <p>About us</p>
    </aside>
    <main>
        <h2>Account #{{accountNumber}}</h2>
        <div class="slider">
            <h3>Welcome {{name}} {{lastname}}</h3>
            <img src="imagenes/slider.jpg" id="slider-logo" alt="">
        </div>
        <div class="container-cajitas">
            <div class="cajitas">
                <h3>Saldo de su cuenta</h3>
                <p>${{ammount}}</p>
            </div>
            <div class="cajitas">
                <h3>Gasto diario</h3>
                <p>$XXXX</p>
            </div>
            <div class="cajitas">
                <h3>Acreditacion diaria</h3>
                <p>$XXXX</p>
            </div>
        </div>
        <section>
            <h3>Opciones</h3>
            <button>SEE MORE</button>
        </section>
        
        <div class="container-box-large">
                <div class="box-large">
                    <h2>Transferir Dinero</h2>
                    <p>Realizar una transferencia</p>
                    
                </div>
                <div class="box-large">
                    <h2>Tarjetas</h2>
                    <p>Realizar una transferencia</p>
                </div>
                
                <div class="box-large">
                    <h2>Balance Anual</h2>
                    <p>Calcule el balance anual de su cuenta</p>
                </div>
        </div>

        </main>
        
    
    <section class="section">
        <div class="header-section">
            <div class="header-section-block">
                <h4>Cuentas activas</h4>
                <p>{{accountActive.length}}</p>
            </div>
            <span></span>
        </div>
        <div class="container-transactions">
            <h5>Recent Transactions</h5>
            <table>
                <tbody>
                <template v-for="transaction in transactions">
                <tr>
                    <th>{{transaction.date.toLocaleString('default', { month: 'long' })}} {{transaction.date.getDay()}} {{transaction.date.getFullYear()}}</th>
                </tr>
                
                <tr>
                    
                    <td><span>{{transaction.date.getHours()}}:{{transaction.date.getMinutes()}}:{{transaction.date.getSeconds()}}</span><span>{{transaction.type}}</span><span>{{transaction.description}}</span><span>${{transaction.amount}}</span></td>
                </tr>
                </template>
            </tbody>
            </table>
            <div class="buttonSeeMore">
                <button><a :href="urlTransaction ">SEE MORE</a> </button>
            </div>
            
        </div>
    </section>
    
<!--

    <template v-else="LoansBool">
        <aside>
            <p>I</p>
            <p @click="setLoansBool">Account</p>
            <p>I</p>
            <p>I</p>
        </aside>
        <main>
            <h2>Loans</h2>
            <div class="slider">
                <h3>Welcome {{name}} {{lastname}}</h3>
                <img src="logito.png" id="slider-logo" alt="">
            </div>
            <div class="container-cajitas">
                <div class="cajitas">
                    <h3>Monto del prestamo mas reciente</h3>
                    <p>${{lastLoans.ammount}}</p>
                </div>
                <div class="cajitas">
                    <h3>Plazo</h3>
                    <p>{{lastLoans.payment}}</p>
                </div>
                <div class="cajitas">
                    <h3>Monto proxima cuota</h3>
                    <p>${{Math.round((lastLoans.ammount) / (lastLoans.payment))}}</p>
                </div>
            </div>
            <section>
                <h3>Opciones</h3>
                <button>SEE MORE</button>
            </section>
            
            <div class="container-box-large">
                <template v-for="loan in loans">
                    <div class="box-large">
                        <h2>{{loan.nombre}}</h2>
                        <p><span>Usted tiene un prestamo activo de ${{loan.ammount}} por un plazo de {{loan.payment}}</span></p>
                        
                    </div>
                    </template>
            </div>
            
        </main>
        
        <section class="section">
            <div class="header-section">
                <div class="header-section-block">
                    <h4>Prestamos activos</h4>
                    <p>{{loans.length}}</p>
                </div>
                <span></span>
            </div>
             
                
            
        </section>
    
    </template>-->
    </div>
 
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/account.js"></script>
</body>
</html>