<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Account</title>
    <link rel="stylesheet" href="account.css">
    <!--Links de Boxicons CDN para el slide,son los i-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
<body>
    
    
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="imagenes/logo.png" alt="">
        <div class="logo_name">Honey</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      
      <li>
        <a href="#">
          <i class='bx bx-user' ></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      
      <li>
        <a href="#">
            <i class='bx bxs-user-account' ></i>
            
          <span class="links_name">Accounts</span>
        </a>
        <span class="tooltip">Accounts</span>
      </li>
      <li>
        <a href="#">
            <i class='bx bx-credit-card-front' ></i>
          <span class="links_name">Cards</span>
        </a>
        <span class="tooltip">Cards</span>
      </li>
      <li>
        <a href="#">
            <i class='bx bx-blanket' ></i>
          <span class="links_name">Loans</span>
        </a>
        <span class="tooltip">Loans</span>
      </li>
      
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="profile.jpg" alt="">
          <div class="name_job">
            <div class="name">Honey</div>
            <div class="job">Ledesma Belen</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>

  
<div class="home_content" id="app">
    <div class="home_content_2">
        
        <div class="text">Account #{{accountNumber}}</div>
        <section>
        <div class="container-welcome">
            <h3>Welcome {{name}} {{lastname}} </h3>
            <img src="imagenes/slider.jpg" alt="">
        </div>
        </section>

        <main>
          
            <div class="box-cuentas">
                <div class="box-wrap">
                  
                    <div class="box-cuenta">
                      <h3>Saldo de su cuenta</h3>
                      <p>${{ammount}}</p>
                    </div>
                  
                </div>
                <div class="box-wrap">
                   <div class="box-cuenta">
                    <h3>Gasto diario</h3>
                    <p>$XXXX</p>
                </div>
              </div>
              <div class="box-wrap">
                <div class="box-cuenta">
                    <h3>Acreditacion diaria</h3>
                    <p>$XXXX</p>
                </div>
              </div>
                
            </div>

            <section class="box-opciones">
                <h3>Options</h3>
                <button>SEE MORE</button>
            </section>
            
            <div class="box-larges">
              
                  
                    <div class="box-large">
                        <h2>transfer money</h2>
                        <p>Make a transfer</p>
                    </div>
                  
                    <div class="box-large">
                        <h2>?????</h2>
                        <p>???</p>
                    </div>
                    
                    <div class="box-large">
                        <h2>Annual Balance</h2>
                        <p>Calculate your annual account balance</p>
                    </div>
            </div>
    
        </main>
    </div> 
        
        <aside class="home-der">

            <div class="header-section">
                <div class="header-section-block">
                    <h4>Active accounts</h4>
                    <p>{{accountActive.length}}</p>
                </div>
                <span><img src="imagenes/logo2.png" alt=""></span>
            </div>

            <div class="box-transactions">
                <h5>Recent Transactions</h5>
                <table>
                    <tbody>
                    <template v-for="transaction in transactions">
                    <tr>
                        <th>{{transaction.date.toLocaleString('default', { month: 'long' })}} {{transaction.date.getDay()}} {{transaction.date.getFullYear()}}</th>
                    </tr>
                    
                    <tr>
                        
                        <td><span>{{transaction.date.getHours()}}:{{transaction.date.getMinutes()}}:{{transaction.date.getSeconds()}}</span><span>{{transaction.type}}</span><span>{{transaction.description}}</span><span>${{transaction.amount}}</span></td>
                    </tr>
                    </template>
                </tbody>
                </table>
                <div class="buttonSeeMore">
                    <button><a :href="urlTransaction ">SEE MORE</a> </button>
                </div>
                
            </div>
      </aside>
  
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/account.js"></script>

</body>
</html>