<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accounts</title>
    <link rel="stylesheet" href="../css/client.cssd5">
    <!--Links de Boxicons CDN para el slide,son los i-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
<body>
    
    
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="imagenes/logo.png" alt="">
        <div class="logo_name">Honey</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      
      <li>
        <a id="users">
          <i class='bx bx-user' ></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      
      <li>
        <a class="accounts">
            <i class='bx bxs-user-account' ></i>
            
          <span class="links_name">Accounts</span>
        </a>
        <span class="tooltip">Accounts</span>
      </li>
      <li>
        <a class="cards">
            <i class='bx bx-credit-card-front' ></i>
          <span class="links_name">Cards</span>
        </a>
        <span class="tooltip">Cards</span>
      </li>
      <li>
        <a class="loans">
            <i class='bx bx-blanket' ></i>
          <span class="links_name">Loans</span>
        </a>
        <span class="tooltip">Loans</span>
      </li>
      
      
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="profile.jpg" alt="">
          <div class="name_job">
            <div class="name">Honey</div>
            <div class="job">Ledesma Belen</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>


  
    <div class="home_content" id="app">
        
        <div class="text">Section Accounts</div>
        <section>
        <div class="container-welcome">
            <h3>Welcome {{name}} {{lastname}} </h3>
            <img src="imagenes/ilustracion.jpg" alt="">
        </div>
        <div class="container-info-mult" >

        <div class="container-info"v-for= "accoun in accounts">
            <a v-bind:href="'accountXis.html?id='+ (accoun.id - 1)" style="text-decoration: none;">
            <h4>Account #{{accoun.numeroDeCuenta}}</h4>
            <h6>Balance ${{accoun.saldo}}</h6>
            <h5>Account active since {{accoun.fechaDeCreacion}}</h5>
            </a>
        </div>
        
        </div>
        
        </section>
    </div>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/manager.js"></script>

</body>
</html>