<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="cards.css">
     <!--Links de Boxicons CDN para el slide,son los i-->
     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="imagenes/logo.png" alt="">
        <div class="logo_name">Honey</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      
      <li>
        <a href="#">
          <i class='bx bx-user' ></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      
      <li>
        <a href="#">
            <i class='bx bxs-user-account' ></i>
            
          <span class="links_name">Accounts</span>
        </a>
        <span class="tooltip">Accounts</span>
      </li>
      <li>
        <a href="#">
            <i class='bx bx-credit-card-front' ></i>
          <span class="links_name">Cards</span>
        </a>
        <span class="tooltip">Cards</span>
      </li>
      <li>
        <a href="#">
            <i class='bx bx-blanket' ></i>
          <span class="links_name">Loans</span>
        </a>
        <span class="tooltip">Loans</span>
      </li>
      
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="profile.jpg" alt="">
          <div class="name_job">
            <div class="name">Honey</div>
            <div class="job">Ledesma Belen</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>
  
  <div class="home_content" id="app">
    <div class="home_content_2">
        
               
            <div class="text">Section Cards</div>
            <section>
                  <div class="container-welcome">
                            <h3>Welcome {{name}} {{lastname}} </h3>
                            <img src="imagenes/5.jpg" alt="">
                  </div>

                  <div class="separator">
                    <!--FILTRO CARD BUTTON TYPE-->
                    <div class="container">
                      <div class="bar bar-grey">
                        <div class="option" @click="cred">Credito</div>
                        <div class="option" @click="deb">Debito</div>
                      </div>
                      <div class="bar-outer">
                        <div class="bar bar-purple">
                          <div class="option" @click="credito">Credito</div>
                          <div class="option" @click="debito">Debito</div>
                          
                        </div>
                      </div>
                    </div>
                    <!--FILTRO CARD BUTTON COLOR-->
                    <div class="container">
                      <div class="bar2 bar-grey2" >
                        <div class="option2" @click="tita">Titanium</div>
                        <div class="option2" @click="gol">Gold</div>
                        <div class="option2" @click="silve">Silver</div>
                      </div>
                      <div class="bar-outer2">
                        <div class="bar2 bar-purple">
                          <div class="option2" @click="titanium">Titanium</div>
                          <div class="option2" @click="gold">Gold</div>
                          <div class="option2" @click="silver">Silver</div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="box-cards" v-if="credTitanium">
                    
                    <div class="card">
                      <div class="card__front card__part">
                        <img class="card__front-square card__square" src="imagenes/chip.jpg">
                        <img class="card__front-logo card__logo" src="imagenes/logo2.png">
                        <div class="card__space-75">
                          <span class="card__label">Card holder</span>
                          <p class="card__info">John Doe</p>
                        </div>
                        <div class="card__space-25">
                          <span class="card__label">Expires</span>
                                <p class="card__info">10/25</p>
                        </div>
                      </div>
                      
                      <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                          <div class="card__secret">
                            <p class="card__secret--last">420</p>
                          </div>
                          <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                          <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                          
                        </div>
                      </div>
                    </div>

                    <div class="box-cards" v-if="credGold">
                      <div class="card">
                      <div class="card__front card__part">
                        <img class="card__front-square card__square" src="imagenes/chip.jpg">
                        <img class="card__front-logo card__logo" src="imagenes/logo2.png">
                        <div class="card__space-75">
                          <span class="card__label">Card holder</span>
                          <p class="card__info">John Doe</p>
                        </div>
                        <div class="card__space-25">
                          <span class="card__label">Expires</span>
                                <p class="card__info">10/25</p>
                        </div>
                      </div>
                      
                      <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                          <div class="card__secret">
                            <p class="card__secret--last">420</p>
                          </div>
                          <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                          <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                    
                  <div class="box-cards" v-if="credSilver">
                    <div class="card">
                      <div class="card__front card__part">
                        <img class="card__front-square card__square" src="imagenes/chip.jpg">
                        <img class="card__front-logo card__logo" src="imagenes/logo2.png">
                        <div class="card__space-75">
                          <span class="card__label">Card holder</span>
                          <p class="card__info">John Doe</p>
                        </div>
                        <div class="card__space-25">
                          <span class="card__label">Expires</span>
                                <p class="card__info">10/25</p>
                        </div>
                      </div>
                      
                      <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                          <div class="card__secret">
                            <p class="card__secret--last">420</p>
                          </div>
                          <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                          <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-cards" v-if="debTitanium">
                    <div class="card" >
                      <div class="card__front card__part">
                        <img class="card__front-square card__square" src="imagenes/chip.jpg">
                        <img class="card__front-logo card__logo" src="imagenes/logo2.png">
                        <div class="card__space-75">
                          <span class="card__label">Card holder</span>
                          <p class="card__info">John Doe</p>
                        </div>
                        <div class="card__space-25">
                          <span class="card__label">Expires</span>
                                <p class="card__info">10/25</p>
                        </div>
                      </div>
                      
                      <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                          <div class="card__secret">
                            <p class="card__secret--last">420</p>
                          </div>
                          <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                          <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="box-cards" v-if="debGold">
                    <div class="card">
                      <div class="card__front card__part">
                        <img class="card__front-square card__square" src="imagenes/chip.jpg">
                        <img class="card__front-logo card__logo" src="imagenes/logo2.png">
                        <div class="card__space-75">
                          <span class="card__label">Card holder</span>
                          <p class="card__info">John Doe</p>
                        </div>
                        <div class="card__space-25">
                          <span class="card__label">Expires</span>
                                <p class="card__info">10/25</p>
                        </div>
                      </div>
                      
                      <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                          <div class="card__secret">
                            <p class="card__secret--last">420</p>
                          </div>
                          <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                          <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  
                  <div class="box-cards" v-if="debSilver">
                    <div class="card" >
                      <div class="card__front card__part">
                        <img class="card__front-square card__square" src="imagenes/chip.jpg">
                        <img class="card__front-logo card__logo" src="imagenes/logo2.png">
                        <div class="card__space-75">
                          <span class="card__label">Card holder</span>
                          <p class="card__info">John Doe</p>
                        </div>
                        <div class="card__space-25">
                          <span class="card__label">Expires</span>
                                <p class="card__info">10/25</p>
                        </div>
                      </div>
                      
                      <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                          <div class="card__secret">
                            <p class="card__secret--last">420</p>
                          </div>
                          <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                          <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                          
                        </div>
                      </div>
                    </div>

                    <div class="box-cards" v-if="sinCard">
                      <div class="card">
                        <h6>Usted no tiene tarjetas de este tipo y color</h6>
                      </div>
                  </div>
                  </div>
            </section> 
     </div>
   </div>                
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="https://unpkg.com/vue@next"></script>
   <script src="../js/cards.js"></script>
   
    
    
</body>
</html>