<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Client</title>
    <link rel="stylesheet" href="../css/client.css">
    <!--Links de Boxicons CDN para el slide,son los i-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
<body>
  
    
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="imagenes/logo.png" alt="">
        <div class="logo_name">Honey</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      
      <li>
        <a href="client.html">
          <i class='bx bx-user' ></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      
      <li>
        <a href="accounts.html">
            <i class='bx bxs-user-account' ></i>
            
          <span class="links_name">Accounts</span>
        </a>
        <span class="tooltip">Accounts</span>
      </li>
      <li>
        <a href="Cards.html">
            <i class='bx bx-credit-card-front' ></i>
          <span class="links_name">Cards</span>
        </a>
        <span class="tooltip">Cards</span>
      </li>
      <li>
        <a href="loans.html">
            <i class='bx bx-blanket' ></i>
          <span class="links_name">Loans</span>
        </a>
        <span class="tooltip">Loans</span>
      </li>
      
      
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="profile.jpg" alt="">
          <div class="name_job">
            <div class="name">Honey</div>
            <div class="job">Ledesma Belen</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>

  <!--CLIENT -->
  
  
  <div class="home_content" id="app">
    <div class="text">Client Section </div>

    <section>
        <div class="container-welcome">
            <h3>Welcome to Honey </h3>
            <img src="imagenes/8.jpg" alt="">
        </div>
        <div class="container-info-mult">

        <div class="container-info">
            <h4>{{firstName}} {{lastName}}</h4>
            
            <h5>Your ID {{id}}</h5>
            <h5>Your email is {{email}}</h5>
      
        </div>
        <div class="container-info" >
          <a href="accounts.html">
            <img src="imagenes/user-account-solid-24.png" alt="">

            <h3>Check the status of your accounts </h3></a>
        </div>
        </div>
        <div class="container-info-mult">
            <div class="container-info">
              <a href="loans.html">
                <img src="imagenes/blanket-regular-24.png" alt="">
                <h3>Check the status of your loans </h3>
              </a>
            </div>
            <div class="container-info">
              
                <img src="imagenes/message-error-regular-24.png" alt="">

                <p>Remember not to share your credentials with anyone, not even with us</p>
            </div>

        </div>
    </section>
  </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/client.js"></script>

</body>
</html>
