<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans</title>
    <link rel="stylesheet" href="loans.css">
     <!--Links de Boxicons CDN para el slide,son los i-->
     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  
    
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="imagenes/logo.png" alt="">
        <div class="logo_name">Honey</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
      <li>
          <i class='bx bx-search' ></i>
          <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      
      <li>
        <a id="users">
          <i class='bx bx-user' ></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      
      <li>
        <a class="accounts">
            <i class='bx bxs-user-account' ></i>
            
          <span class="links_name">Accounts</span>
        </a>
        <span class="tooltip">Accounts</span>
      </li>
      <li>
        <a class="cards">
            <i class='bx bx-credit-card-front' ></i>
          <span class="links_name">Cards</span>
        </a>
        <span class="tooltip">Cards</span>
      </li>
      <li>
        <a class="loans">
            <i class='bx bx-blanket' ></i>
          <span class="links_name">Loans</span>
        </a>
        <span class="tooltip">Loans</span>
      </li>
      
      
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="profile.jpg" alt="">
          <div class="name_job">
            <div class="name">Honey</div>
            <div class="job">Ledesma Belen</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>
  
  <div class="home_content" id="app">
    <div class="home_content_2">
        
               
                        <div class="text">Section Loans</div>
            <section>
                  <div class="container-welcome">
                            <h3>Welcome {{name}} {{lastname}} </h3>
                            <img src="imagenes/9.jpg" alt="">
                        </div>

            
                <div class="container-info-mult" >
                    <div class="encabezado">
                
                        <h3>Loans</h3>
            
                        

                        <div class="box-loan" v-for="loan in loans">
                            <img v-bind:src="'imagenes/' + loan.img" alt="">
                            <div class="box-one">
                                <h2>{{loan.nombre}}</h2>
                                
                                <p>Numero de identificaci&oacute;n del prestamo {{loan.idLoan}}<span> {{loan.date}}</span></p>
                                
                                
                            </div>
                            <div class="box-two">
                                <h4>Plazo establecido</h4>
                                <h4>{{loan.payment}} meses</h4>
                            </div>
                            <div class="box-two">
                                <h4>Monto establecido</h4>
                                <h4>${{loan.ammount}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="box-group">

                        <div class="box-ind">
                            <h3>Solicitar prestamo</h3>
                            <!--<p>${{Math.round((lastLoans.ammount) / (lastLoans.payment))}}</p>-->
                            
                          </div>
                          <div class="box-sub">
                              <h2>Recuerde que solo puede tener un prestamo de cada tipo</h2>
                              <img src="imagenes/2.png" alt="">
                          </div>
                    </div>
              
                  </div>     
                </section> 
     </div>
   </div>                
  
   <script src="https://unpkg.com/vue@next"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="../js/loans.js"></script>
</body>
</html>